/*COLORS*/
:root{
  --lightgray: #ccc;
  --whiteish: #ddd;
  --shadow: rgba(0,0,0,0.1);
  --gray: #666;
  --darkturquise: #83ACAE;
  --turquise: #ADD8E6;
  --lightturquise: 
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  font-family: serif;
}

#background{
  background: linear-gradient(to bottom, var(--darkturquise), var(--lightturquise) white);
  min-height: 100vh; 
  min-width: 100vw;
  padding-top: 1.5rem;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
}

nav .nav-link {
color: #000;
text-decoration: none;
border-radius: 20px; 
transition: background-color 0.3s;
padding-top: 0.4rem;
background-color: transparent;
}

nav .nav-link.active {
  background-color: lightgray;
  padding: 0.4rem;
}

header{
  background-color: white;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 50px; 
  position: relative;
}

footer {
  background-color:white; 
  padding: 0.6rem;
  border-top:1.5px solid var(--whiteish);
  box-shadow: 0 -2px 4px var(--shadow); 
  border-radius: 50px 50px 0 0;
}

h2 {
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.links{
  display: flex; 
  flex-direction: column;
  gap: 0.1rem;
  text-align: left;
  color: var(--gray); 
  text-decoration: none;
  font-size: 12px;
}

#search {
  padding: 0.4rem 0.8rem;
  margin-right: auto;
  width: min(80%, 17rem); 
  border: 1px solid var(--lightgray);
  border-radius: 20px;
  outline: none;
  font-size: 14px;
}

#dogFooter{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoFooter{
  display: flex; 
  align-items: flex-start;
  gap: 5rem;
  padding: 0.2rem 1rem;
}

#rights{
  color:var(--gray);
  font-weight: bold; 
  font-size: 13px;
}

/*CSS for smaller devices like phones*/
@media (max-width: 768px){
  header{
    padding: 0.4rem 9rem 0 10rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  #search {
    width: 50%;
    margin-right: 0;
    margin-top: 0.6rem;
  }

  #logoFooter{
    gap: 1.5rem;
    margin-top: 0.4rem;
  }

  footer{
    padding: 0.3rem;
  }
  
  h2, .links{
    font-size: 10.5px;
  }

  nav .nav-link.active {
    margin-top: 0.2rem;
    padding-bottom: 0;
    padding-top: 0.01rem;
  }
}

@media (max-width: 480px) {
  header{
    padding: 0.2rem 0.4rem;
  }

  #search{
    padding: 0.1rem 0.2rem;
    font-size: 10.5px;
  }

  nav .nav-link{
    padding: 0.1rem;
    margin: 0.1rem;
  }

  nav .nav-link.active {
    padding: 0.1rem;
  }
}